extends layout

block content
    h1= title
    -
     let soaps  = [{"Soap_Name": "Margo", "Soap_cost": "200", "Soap_Color": "Green",}, 
     {"Soap_Name": "Dove", "Soap_cost": "100", "Soap_Color": "White",},
      {"Soap_Name": "Lux", "Soap_cost": "500", "Soap_Color": "blue",},]
    div(class= "container-fluid")
        div(class = "row")  
            each item, index in soaps 
                div(class= "col-sm-2") Soap_Name:  #{item.Soap_Name}
                div(class= "col-sm-2") Soap_cost:  #{item.Soap_cost}
                div(class= "col-sm-2") Soap_color:   #{item.Soap_Color}

